---

---

<section class='bg-black z-0 flex h-1/3 p-8 items-center justify-center  md:flex-row' id="what">
  <div class='container'>
    <div class="m-auto text-center">
      <div class="m-auto text-center">
          <h2 class="font-extrabold text-6xl" style="color: white;"><span style="color: orange;">WHAT </span> WE DO?</h2>
          <br>
      </div>
  </div>
    <div class='grid grid-rows-4 justify-items-center gap-4 p-12 text-center font-oswald text-2xl text-white sm:grid-cols-1 md:grid-cols-2'    >
      <div class='flex-row justify-center'>
        <div class='flex-row justify-center'>
          <img src='images/ico-we-do-1.png' alt='' class="object-cover h-16 w-16"  />
          <br />
           AI
        </div>
      </div>
      <div>
        <div class='flex justify-center '>
          <img src='images/ico-we-do-2.png' alt='' class="object-cover h-16 w-16" />
        </div>
        <br />
         Gaming
      </div>
      <div>
        <div class='flex justify-center'>
          <img src='images/ico-we-do-3.png' alt='' class="object-cover h-16 w-16"  />
        </div>
        <br />
        NFT Strategy and execution
      </div>
      <div>
        <div class='flex justify-center'>
          <img src='images/ico-we-do-4.png' alt='' class="object-cover h-16 w-16"  />
        </div>
        <br />
        Metaverse and Web3
      </div>
      <div>
        <div class='flex justify-center'>
          <img src='images/ico-we-do-8.png' alt='' class="object-cover h-16 w-18"  />
        </div>
        <br />
        IOT and Massive Data Ingestion
      </div>
      <div>
        <div class='flex justify-center'>
          <img src='images/ico-we-do-9.png' alt='' class="object-cover h-16 w-18"  />
        </div>
        <br />
        Cloud Infraestructure
      </div>
      <div>
        <div class='flex justify-center'>
          <img src='images/ico-we-do-6.png' alt='' class="object-cover h-16 w-16"  />
        </div>
        <br />
        Cybersecurity
      </div>
      <div>
        <div class='flex justify-center'>
          <img src='images/ico-we-do-7.png' alt='' class="object-cover h-16 w-16"  />
        </div>
        <br />
        Wallet Backend
      </div>
    </div>
  </div>
</section>
