---
import { Image } from 'astro:assets'
import CustomParticles from './CustomParticles'
import header from '~/public/images/header.png'

---

<section class='bg-black container-fluid' id="tsparticles">
  <CustomParticles />
  <div
  class='z-10 flex h-100 p-8 items-center justify-center opacity-100 md:flex xl:opacity-100'  >
    <Image src={header} alt='working for startup' />
  </div>
  <div class=' mx-auto flex w-full max-w-screen-xl justify-around'
  >
    <div class='m-10 flex w-156 flex-col flex-wrap gap-2'>
      <p class='text-xl font-normal text-white'>01INFINITO</p>
      <h1 class='text-3xl font-semibold text-white md:text-5xl md:leading-14'>
        Using cutting edge technology to build new experiences. </h1>

    </div>
  </div>
  
  
</section>
